/*
 |--------------------------------------------------------------------------
 |  Page
 |--------------------------------------------------------------------------
 */
body {
  .js &.no-hover > * {
    pointer-events: none;
  }

  font-display: swap;
}

body.page {
  @include break('m') {
    background-color: #353535;
  }
}
